/* styles.css */
/* 全局样式 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* 标题栏样式 */
#header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
}

/* 聊天容器样式 */
#chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 70px; /* 为了避免输入容器遮挡聊天内容，增加底部填充 */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
	display: flex;  
    flex-direction: column; 
}

/* 消息样式 */
.message {
    display: inline-block; /* 使消息框根据内容调整宽度 */
    max-width: 60%; /* 调整最大宽度，防止消息框太大 */
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    line-height: 1.5;
}

.user-message {
	float: right;
	/*  align-self: flex-end; */
    background-color: #007bff;
    color: white;
    text-align: auto;
    margin-left: auto;
    border-radius: 20px;
}

.bot-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: black;
    margin-right: auto;
    border-radius: 20px;
}

/* 输入容器样式 */
#input-container {
    display: flex;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#input-message {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 12px;
    outline: none;
    font-size: 16px;
	
}

#send-button {
    padding: 10px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
	margin-right: 10px;
}

#send-button:hover {
    background-color: #0056b3;
}
